<!DOCTYPE html>
<html>
<head>
    <title>Classroom Connect</title>
</head>
<body>
 <%= simple_form_for @homeworks do |f| %>
  <%= f.input  :document %>
  <%= f.input  :caption %>
  <%= f.button :submit %>
 <% end %>
</body>
</html>
