<style>
  div.a {
    text-align: center;

  }
  </style>
<div class="a"> <h1>Homework</div>
  <% @homeworks.each do |homework| %>
  <div class="post">
      <div class="post-head">
        <%= homework.user.user_name %>
        <div class="name">
        </div>
      </div>
      <div class="image center-block">
      <%= image_tag homework.hw.url(:medium) %>
      </div>
        <p class="caption">
        <%= homework.caption %>
        </p>
    </div>
  <% end %>
