<!DOCTYPE html>
<html>
<head>
    <title>Classroom Connect</title>
</head>
<body>
<%= simple_form_for @homework do |f| %>
  <%= f.input :hw %>
  <%= f.input :caption %>
  <%= f.button :submit %>
<% end %>
</body>
</html>